

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: cafe_db
      POSTGRES_USER: cafe_user
      POSTGRES_PASSWORD: cafe_password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    # ports:
      # - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cafe_user -d cafe_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  bot:
    build: .
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - .:/app
    restart: unless-stopped

volumes:
  postgres_data:

